<html>
	<head>
		<title>Create account pair</title>
	</head>
	<body>
		<h2>
			Create a paired account</h2>
		<p>
			Enter the below details for using <b> {{user_nickname}} </b>as owner for the bike below</p>
		<ol>
			<form action = "/add_new_bike.html" method = "post">
			<li>
				Bike account email address&nbsp;<input maxlength="30" name="bikeEmailId" size="20" type="text" value="Enter Valid Email Id" /><br />
				&nbsp;</li>
			<li>
				Bike name to use&nbsp;<input maxlength="30" name="bikeName" size="20" type="text" value="Bike Name " /><br />
				&nbsp;</li>
			<li>
				Bike model&nbsp;<input maxlength="30" name="bikeModel" size="20" type="text" value="Bike Model" /><br />
				&nbsp;</li>
			<li>
				Mileage&nbsp;<input maxlength="10" name="bikeMileage" size="5" type="text" value="Km/Rs" /><br />
				&nbsp;</li>
			<li>
				Bike RTO number&nbsp;<input maxlength="20" name="bikeNumber" size="10" type="text" /></li>
		</ol>
		<p>
			<span style="font-size:22px;">Please click here after entering all the details&nbsp;<input name="createPair" type="submit" value="Submit" /></span></p>
			</form>
	</body>
</html>

