<!DOCTYPE html>
<html>
  <head>
    <title>Trip Details of {{owner_name}} for bike {{bike_name}}</title>
	<h3>
	The below map shows the trip details
	</h3>
	   <script>
		function go_back()
		{
			window.history.back();
		}
	   </script>
	   <input type="button" value="Select different date ?" style="float: right;" onclick = "go_back()"/>
  </head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 400px;
	width: 1024px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type = "text/javascript">



var map;
var polyLinesList = [];
var pointsListList = [];	//Contains a list of paths, each path is a list of coordinate pointsListList, where each coordinate point is a list of two floating numbers
var speedListList = [];
var currentPathStatistics = [];
var pathStatistics = [];	//Contains statistics of each path in the form of a list of list as follows "Avg Speed,Top Speed,Min Speed,Total Distance travelled"
var pathsList = [];	//Contains start and end address of geodecoded strings
var finalStatistics = [];
var nameList = [];
var latlngList = [];
var geocoder;
var addressList = {};


function calc_pathStatistics(pointsListList)
{
	
	var overallMaxSpeed = 0;
	var overallMinSpeed = 0;
	var overallDistance = 0;
	var overallAvgSpeed = 0;
	for(var i=0;i<pointsListList.length;i++)
	{
		pathTotalDistance = 0;
		pathMaxSpeed = 0;
		pathMinSpeed = 0;
		pathAvgSpeed = 0;
		for (var j = 0; j< pointsListList[i].length; j++)
		{
			if(j==0)
			{
				pathMaxSpeed = speedListList[i][j];
				pathMinSpeed = speedListList[i][j];
				if(i==0)
				{
					overallMaxSpeed = pathMaxSpeed;
					overallMinSpeed = pathMinSpeed;
				}
			}
			else
			{
				var speed = speedListList[i][j];
				if(pathMaxSpeed  < speed)
				{
					pathMaxSpeed = speed;
				}
				if(pathMinSpeed > speed && speed > 0)
				{
					pathMinSpeed = speed;
				}

				var lati0 = pointsListList[i][j-1].lat();
				var long0 = pointsListList[i][j-1].lng();
				
				var lati1 = pointsListList[i][j].lat();
				var long1 = pointsListList[i][j].lng();
				
				pathTotalDistance += getDistanceFromLatLonInKm(lati0,long0,lati1,long1);
			}
		}
		
		if(pointsListList[i].length > 0)
		{
			pathAvgSpeed = pathTotalDistance/pointsListList[i].length*3600;
		}		

		if(pathMinSpeed < overallMinSpeed)
		{
			overallMinSpeed = pathMinSpeed;
		}
			
		if(pathMaxSpeed > overallMaxSpeed)
		{
			overallMaxSpeed = pathMaxSpeed;
		}

		overallDistance += pathTotalDistance; 
		var listofstats = [pathMinSpeed, pathAvgSpeed, pathMaxSpeed, pathTotalDistance];
		pathStatistics.push(listofstats);
	}		
	if (pointsListList.length)
	{
		totalSec = 0;
		for(var i = 0;i< pointsListList.length; i++)
		{
			totalSec += pointsListList[i].length;
		}
		overallAvgSpeed = overallDistance/totalSec*3600;
	}
	var listofstats = [overallMinSpeed, overallAvgSpeed, overallMaxSpeed, overallDistance];
	finalStatistics = listofstats;
}

function update_current_pathStatistics()
{
	document.getElementById('pathMinSpeed').innerHTML = currentPathStatistics[0];
	document.getElementById('pathAvgSpeed').innerHTML = currentPathStatistics[1];
	document.getElementById('pathMaxSpeed').innerHTML = currentPathStatistics[2];
	document.getElementById('pathDistance').innerHTML = currentPathStatistics[3];
}

function update_overall_pathStatistics()
{
	document.getElementById('overallMinSpeed').innerHTML = finalStatistics[0];
	document.getElementById('overallAvgSpeed').innerHTML = finalStatistics[1];
	document.getElementById('overallMaxSpeed').innerHTML = finalStatistics[2];
	document.getElementById('overallDistance').innerHTML = finalStatistics[3];
}

function callBack(i,pos)
{
	var geocodecallback = function(results,status)
				{
					if (status == google.maps.GeocoderStatus.OK) 
					{
						if (results[1]) 
						{
							address = results[1].formatted_address;
							addressList[[i,pos]] = address;
							if(i>=pathsList.length)
							{
								if(addressList[[i,"Start"]] != undefined && addressList[[i,"End"]] != undefined)
								{
									appendNewPath(i);
								}
							}
						}
					}
				}
	return geocodecallback;
}

function appendNewPath(i)
{
	var str1 = addressList[[i,"Start"]];
	var str2 = addressList[[i,"End"]];
	pathsList.push("From "+str1+" To "+str2);
	var mylist = document.getElementById("myList");
	var op = new Option();
	op.index = i;
	op.text = "From "+str1+" To "+str2;
	mylist.options.add(op);
	if(mylist.item(0).value == "")
	{
		mylist.remove(0);
		changeMapPath();
	}
}

function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
  var R = 6371; // Radius of the earth in km
  var dLat = deg2rad(lat2-lat1);  // deg2rad below
  var dLon = deg2rad(lon2-lon1); 
  var a = 
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
    Math.sin(dLon/2) * Math.sin(dLon/2)
    ; 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c; // Distance in km
  return d;
}

function deg2rad(deg) {
  return deg * (Math.PI/180)
}

function initialize() 
{
	geocoder = new google.maps.Geocoder();
	var mapOptions = 
	{
	zoom: 12,
	center: new google.maps.LatLng(12.9667, 77.5667),
	mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
	var bounds = new google.maps.LatLngBounds();
	{% for item in pointsListList %}
		var test = {{item}};
		var temp_pointsListList = []
		for (var i=0;i<test.length;i++)
		{
			temp_pointsListList.push(new google.maps.LatLng(test[i][0],test[i][1]));
		}
		pointsListList.push(temp_pointsListList)
	{% endfor %}

	{% for item in bikeSpeedListList %}
		var temp = {{item}};
		speedListList.push(temp);
	{% endfor %}		

	{% for item in pathStatistics %}
		var test = {{item}};
		pathStatistics.push(test);
	{% endfor %}

	{% for item in finalStatistics %}
		var test = {{item}};
		finalStatistics.push(test);
	{% endfor %}
	

	for (var i=0;i<pointsListList.length;i++)
	{
		for(var j=0;j<pointsListList[i].length;j++)
		{
			bounds.extend(pointsListList[i][j]);
		}
		var latlng1 = pointsListList[i][0];
		var latlng2 = pointsListList[i][pointsListList[i].length-1];
		geocoder.geocode({'latLng': latlng1},callBack(i,"Start"));  
		geocoder.geocode({'latLng': latlng2},callBack(i,"End"));  
	}

	for (var i=0;i<pointsListList.length;i++)
	{
		var polyline = new google.maps.Polyline(
		{
			path: pointsListList[i],
			strokeColor: "black",
			strokeWeight:2
		});
		polyLinesList.push(polyline);
	}
	map.fitBounds(bounds);
	map.panToBounds(bounds);
	calc_pathStatistics(pointsListList);
	update_overall_pathStatistics()
}


function changeMapPath()
{
	var bounds = new google.maps.LatLngBounds();
	var mylist = document.getElementById("myList");
	var i = mylist.selectedIndex;
	for(var j = 0; j<pointsListList[i].length;j++)
	{
		bounds.extend(pointsListList[i][j]);
	}
	for(var j = 0; j<polyLinesList.length;j++)
	{
		polyLinesList[j].setMap(null);
	}
	polyLinesList[i].setMap(map);
	map.fitBounds(bounds);
	map.panToBounds(bounds);
	currentPathStatistics = pathStatistics[i];
	update_current_pathStatistics();
}


google.maps.event.addDomListener(window, 'load', initialize);
   </script>
  <body>
    <div id="map-canvas"></div>
	<form>
		Select your path to view in map:
		<select id="myList" onchange="changeMapPath()">
		<Option></Option>
		</select>
	</form>
	<div id = "pathStatistics">
	<h2> The selected path statistics are as follows : </h2>
	<ul>
		<li> Selected path minimum speed was <label id="pathMinSpeed"> 0 </label> Km/hr</li>
		<li> Selected path average speed was <label id="pathAvgSpeed"> 0 </label> Km/hr</li>
		<li> Selected path max speed was <label id="pathMaxSpeed"> 0 </label> Km/hr</li>
		<li> Selected path distance was <label id="pathDistance"> 0 </label> Kms</li>
	</ul>
	</div>
	<div id = "finalStatistics">
	<h2> The overall path statistics are as follows : </h2>
	<ul>
		<li> Day's minimum speed was <label id="overallMinSpeed"> 0 </label> Km/hr</li>
		<li> Day's average speed was <label id="overallAvgSpeed"> 0 </label> Km/hr</li>
		<li> Day's max speed was <label id="overallMaxSpeed"> 0 </label> Km/hr</li>
		<li> Day's total path distance was <label id="overallDistance"> 0 </label> Kms</li>
	</ul>
	</div>
	
  </body>
</html>
